<main class="container">
  <%= if flash = get_flash(@conn, :info) do %>
    <p class="alert alert-info" role="alert"><%= flash %></p>
  <% end %>
  <%= if flash = get_flash(@conn, :error) do %>
    <p class="alert alert-danger" role="alert"><%= flash %></p>
  <% end %>
  <%= @inner_content %>
</main>
